<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <title>CRUD - Clinica Medico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- FORMULARIO -->

    <div class="col-6 m-auto pt-2 pb-2 mt-5">
        <div class="card card-outline-secondary">
          <div class="card-header alert-success">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="mb-0">Cadastrar Especialidade</h3>
              </div>
              <div>
                <a href="/tab_espec" class="btn btn-primary">Voltar</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form name="espec" id="espec" action="{% if especialidade %}/update_espec/{{especialidade.CodEspec}}/{% else %}/create_espec/{% endif %}" method="post">
              {% csrf_token %}
              <div class="form-group row mt-2">
                <label class="col-lg-4 col-form-label form-control-label">Código da Especialidade:</label>
                <div class="col-lg-6">
                  <span class="form-control">{{form_espec.CodEspec}}</span>
                </div>
              </div>
    
              <div class="form-group row mt-2">
                <label class="col-lg-4 col-form-label form-control-label">Nome da Especialidade:</label>
                <div class="col-lg-6">
                  <span class="form-control">{{form_espec.NomeEspec}}</span>
                </div>
              </div>
    
              <div class="form-group row mt-2">
                <label class="col-lg-4 col-form-label form-control-label">Descrição:</label>
                <div class="col-lg-6">
                  <span class="form-control">{{form_espec.Descricao}}</span>
                </div>
              </div>
    
              <div class="col-lg-6 form-group row mt-5 m-auto">
                <label class="col-lg-2 col-form-label form-control-label"></label>
                <div class="col-lg-6"> 
                  <input class="btn btn-success" type="submit" value="Cadastrar">
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>

</body>
</html>