<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CRUD - Clinica Medico</title>
    <!-- Detalhe: o link abaixo do CSS peguei no site do canal. O do site Bootstrap estava fazendo com que a barra da tabela não aparecesse-->  
    <!-- Bootstrap: https://getbootstrap.com/docs/5.1/getting-started/introduction/-->
    <!-- WebDesing: https://webdesignemfoco.com/cursos/python-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- TITULO DA PAGINA -->
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>CRUD - CLINICA MEDICO</h1>
    </div>

    <!-- BARRA DE BUSCA (INUTIL POR ENQUANTO) -->
    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <form method="get">
          <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
      </form>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
        <!-- para adicionar um caminho basta associar a variavel 'href' -->
        <a href="/tab_clinica" class="btn btn-primary">CLINICA</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
        <a href="/tab_espec" class="btn btn-primary">ESPECIALIDADE</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
        <a href="" class="btn btn-primary">CLINICA MEDICO</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
        <a href="" class="btn btn-primary">PACIENTE</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
        <a href="" class="btn btn-primary">MEDICO</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2">
        <a href="" class="btn btn-primary">AGENDA CONSULTA</a>
    </div>

</body>
</html>