<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CRUD - Clinica Medico</title>
    <!-- Detalhe: o link abaixo do CSS peguei no site do canal. O do site Bootstrap estava fazendo com que a barra da tabela não aparecesse-->  
    <!-- Bootstrap: https://getbootstrap.com/docs/5.1/getting-started/introduction/-->
    <!-- WebDesing: https://webdesignemfoco.com/cursos/python-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- TITULO DA PAGINA -->
    <div class="col-8 m-auto pt-4 pb-4 text-center">
        <h1>CRUD - CLÍNICA MEDICO</h1>
    </div>
    
    <div class="col-8 d-flex m-auto">
        <div class="col-12 list-group list-group-horizontal mt-4 bg-primary m-auto">
            <!-- para adicionar um caminho basta associar a variavel 'href' -->
            <a href="/tab_clinica" class="btn btn-primary">CLINICA</a>
            <a href="/tab_espec" class="btn btn-primary">ESPECIALIDADE</a>
            <a href="/tab_climed" class="btn btn-primary">CLINICA MEDICO</a>
            <a href="/tab_pac" class="btn btn-primary">PACIENTE</a>
            <a href="/tab_med" class="btn btn-primary">MEDICO</a>
            <a href="/tab_agenda" class="btn btn-primary">AGENDA CONSULTA</a>
        </div>
        
    </div>

    <div class="col-8 m-auto d-flex ">
        <div class="mt-5">
            <h2>CRUD desenvolvido para a disciplina de introdução a armazenamento e análise de dados</h2>
            <h2>Equipe:</h2>
            <ul>
                <li>Aurilene Bagagi</li>
                <li>Paulo Danilo</li>
                <li>Felipe Santana</li>
                <li>Samuel Souza</li>
                <li>Emerson Lima</li>
            </ul>
        </div>
    </div>



</body>
</html>