<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CRUD - Clinica Medico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>TABELA - AGENDA DE CONSULTAS</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/form_agenda" class="btn btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <form method="get">
          <input type="text" id="search" name="search" class="form-control" placeholder="NÃO FUNCIONA AINDA"> <!-- esta de enfeite <3-->
      </form>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Código do Medico</th>
                <th scope="col">CPF do Paciente</th>
                <th scope="col">Código Clinica</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for tupla in agenda %}
                    <tr>
                        <th>{{tupla.CodMed}}</th>
                        <td>{{tupla.CpfPaciente}}</td>
                        <td>{{tupla.CodCli}}</td>
                        <td>
                            <a href="/view/{{tupla.CodCli}}/" class="btn btn-dark">Visualizar</a> <!-- PRA FAZER A LIGAÇÃO, BASTA REVER AS AULAS E MOFICAR CERTINHO, NÃO HÁ DIFICULDADE-->
                            <a href="/edit/{{tupla.CodCli}}/" class="btn btn-primary">Editar</a>
                            <a href="/delete_agenda/{{tupla.CodCli}}/" class="btn btn-danger btnDel">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>  
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/" class="btn btn-info">VOLTAR</a>
    </div>

</body>
</html>